In [1]:
import numpy as np
import pandas as pd
match=pd.read_csv('matches.csv')
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [2]:
delivery=pd.read_csv('deliveries.csv')
delivery.head(20)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
12,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
14,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,1,S Dhawan,MC Henriques,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
15,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
16,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
17,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
18,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,5,S Dhawan,MC Henriques,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
19,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,6,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [3]:
match.shape

(756, 18)

In [4]:
delivery.shape

(179078, 21)

In [5]:
total_score_df=delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()
total_score_df.head()

   match_id  inning  total_runs
0         1       1         207
1         1       2         172
2         2       1         184
3         2       2         187
4         3       1         183

In [6]:
delivery.tail()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [7]:
total_score_df['inning']==1

0        True
1       False
2        True
3       False
4        True
        ...
1523    False
1524     True
1525    False
1526     True
1527    False
Name: inning, Length: 1528, dtype: bool

In [8]:
total_score_df=total_score_df[total_score_df['inning']==1]
total_score_df.head()

   match_id  inning  total_runs
0         1       1         207
2         2       1         184
4         3       1         183
6         4       1         163
8         5       1         157

In [9]:
match.merge(total_score_df['match_id','total_runs']], left_on='id',right_on='match_id')

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (646221363.py, line 1)

In [ ]:
match.merge(total_score_df[['match_id','total_runs']], left_on='id',right_on='match_id')

In [ ]:
match_df=match.merge(total_score_df[['match_id','total_runs']], left_on='id',right_on='match_id')
match_df.head()

In [ ]:
match_df.columns

In [ ]:
match_df['team1'].unique()

In [ ]:
teams=['Sunrisers Hyderabad', 'Mumbai Indians',
        'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 
       
       'Delhi Capitals']
teams

In [ ]:
match_df['team1']=match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team1']=match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team1']=match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team1']=match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [ ]:
match_df.head()

In [ ]:
match_df=match_df[match_df['team1'].isin(teams)]
match_df=match_df[match_df['team2'].isin(teams)]
match_df.shape

In [ ]:
match_df.columns

In [ ]:
match_df=match_df[match_df['dl_applied']==0]

In [ ]:
match_df=match_df[['match_id','city','winner','total_runs']]
match_df.head()

In [ ]:
delivery_df=match_df.merge(delivery,on='match_id')
delivery_df.head()

In [ ]:
delivery_df=delivery_df[delivery_df['inning']==2]
delivery_df.head()

In [ ]:
 delivery_df.groupby('match_id').cumsum()['total_runs_y']

In [ ]:
delivery_df.columns

In [ ]:
delivery_df.groupby('match_id').cumsum()['total_runs_y']

In [ ]:
delivery_df['total_runs_y'] = pd.to_numeric(delivery_df['total_runs_y'], errors='coerce')

In [ ]:
delivery_df.groupby('match_id').cumsum()['total_runs_y']

In [ ]:
delivery_df['total_runs_y'] = pd.to_numeric(delivery_df['total_runs_y'], errors='coerce')

In [ ]:
delivery_df.groupby('match_id').cumsum()['total_runs_y']

In [ ]:
delivery_df['current_score'] = delivery_df.groupby('match_id')['total_runs_y'].transform('cumsum')

In [ ]:
delivery_df.head()

In [ ]:
delivery_df['current_score'] = delivery_df.groupby('match_id')cumsum()['total_runs_y']

In [ ]:
delivery_df['current_score'] = delivery_df.groupby('match_id').cumsum()['total_runs_y']

In [ ]:
delivery_df['runs_left']=delivery_df['total_runs_x']-delivery_df['current_score']
delivery_df.head()

In [ ]:
delivery_df['balls_left']=126-(delivery_df['over']*6+delivery_df['ball'])
delivery_df.head()

In [ ]:
delivery_df['player_dismissed']=delivery_df['player_dismissed'].fillna("0")

In [ ]:
delivery_df['player_dismissed']=delivery_df['player_dismissed'].fillna("0")

In [ ]:
delivery_df.tail()

In [ ]:
delivery_df['player_dismissed']=delivery_df['player_dismissed'].apply(lambda x:x if x=='0' else "1")

In [ ]:
delivery_df['player_dismissed']=delivery_df['player_dismissed'].astype('int')

In [ ]:
wicket=delivery_df.groupby('match_id').cumsum()['player_dismissed'].values

In [ ]:
print("Before conversion:", delivery_df['player_dismissed'].dtype)

In [ ]:
wicket = delivery_df.groupby('match_id')['player_dismissed'].cumsum().values

In [ ]:
wicket

In [ ]:
delivery_df['wicket']=10-wicket
delivery_df.head()

In [ ]:
delivery_df.tail()

In [ ]:
delivery_df['curr']=(delivery_df['current_score']*6)/(120-delivery_df['balls_left'])

In [ ]:
delivery_df.head()

In [ ]:
delivery_df['rr']=(delivery_df['runs_left']*6)/(delivery_df['balls_left'])
delivery_df.tail()

In [ ]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0

In [ ]:
delivery_df['result']=delivery_df.apply(result,axis=1)

In [ ]:
delivery_df.head()

In [ ]:
final_df=delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wicket','total_runs_x','curr','rr','result']]

In [ ]:
final_df.head

In [ ]:
final_df.describe()

In [ ]:
final_df.shape

In [ ]:
final_df=final_df.sample(final_df.shape[0])

In [ ]:
final_df.sample()

In [ ]:
final_df.head()

In [ ]:
final_df.dropna(inplace=True)
final_df.shape

In [ ]:
final_df=final_df[final_df['balls_left']!=0]

In [ ]:
final_df.describe()

In [ ]:
x=final_df.iloc[:, :-1]
y=final_df.iloc[:,-1]

In [ ]:
y.head()

In [ ]:
x.head()

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2,random_state=42)

In [ ]:
x_train

In [ ]:
x_test

In [ ]:
x_train.info()

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf=ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'),['batting_team','bowling_team','city'])
]
    ,remainder='passthrough')

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [ ]:
pipe=Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [ ]:
pipe.fit(x_train, y_train)

In [ ]:
y_pred=pipe.predict(x_test)

In [ ]:
y_pred

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
pipe=Pipeline(steps=[
    ('step1',trf),
    ('step2',RandomForestClassifier())
])

In [ ]:
pipe.fit(x_train,y_train)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

In [ ]:
pipe.predict_proba(x_test)[1]

In [ ]:
x_test

In [ ]:
import pickle
pickle.dump(pipe, open('model.pkl','wb'))

In [ ]:
import sklearn
print(sklearn.__version__)